<h3>Добавить сотрудника</h3>

<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div>

    <mat-form-field>
      <input matInput placeholder="Логин*" formControlName="login">
      <mat-error *ngIf="personForm.controls.login.hasError('required')">
        Это обязательное поле
      </mat-error>
      <mat-error *ngIf="personForm.controls.login.hasError('maxlength')">
        Это поле должно быть не больше {{nameMaxLength}} символов
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Пароль*" formControlName="password">
      <mat-error *ngIf="personForm.controls.password.hasError('maxlength')">
        Это поле должно быть не больше {{nameMaxLength}} символов
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Фамилия*" formControlName="lastName">
      <mat-error *ngIf="personForm.controls.lastName.hasError('required')">
        Это обязательное поле
      </mat-error>
      <mat-error *ngIf="personForm.controls.lastName.hasError('maxlength')">
        Это поле должно быть не больше {{nameMaxLength}} символов
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Имя*" formControlName="firstName">
      <mat-error *ngIf="personForm.controls.firstName.hasError('required')">
        Это обязательное поле
      </mat-error>
      <mat-error *ngIf="personForm.controls.firstName.hasError('maxlength')">
        Это поле должно быть не больше {{nameMaxLength}} символов
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Отчество" formControlName="middleName">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [matDatepicker]="picker"
             formControlName="startDate"
             placeholder="Дата устройства на работу*">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="personForm.controls.startDate.hasError('required')">
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Группа сотрудника*" formControlName="currentGroup">
        <mat-option *ngFor="let item of groupTypes" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="personForm.controls.currentGroup.hasError('required')">
        Это обязательное поле
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             type="number"
             placeholder="Базовая ставка з/п"
             formControlName="baseSalaryPart">
    </mat-form-field>

  </div>
  <div class="button-container">
    <button mat-raised-button
            color="primary"
            [disabled]="!personForm.valid">Сохранить
    </button>
    <button mat-raised-button
            type="button"
            (click)="onCancelClick()">Закрыть
    </button>
  </div>
</form>

