<div class="journal-form">
  <table mat-table
         [dataSource]="configs$ | async"
         class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> №</th>
      <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="insertDate">
      <th mat-header-cell *matHeaderCellDef> Дата создания</th>
      <td mat-cell *matCellDef="let element"> {{element.insertDate | date: "dd.MM.yyyy HH:mm:ss"}}</td>
    </ng-container>

    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef> Дата последнего изменения</th>
      <td mat-cell *matCellDef="let element"> {{element.updateDate | date: "dd.MM.yyyy HH:mm:ss"}}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Код</th>
      <td mat-cell *matCellDef="let element"> {{element.code}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Значение</th>
      <td mat-cell *matCellDef="let element"> {{element.value}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Описание</th>
      <td mat-cell *matCellDef="let element"> {{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="editColumn">
      <th mat-header-cell
          *matHeaderCellDef
          class="icon-column"> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-label="Изменить настройку"
                  title="Изменить настройку"
                  class="clickable-item"
                  (click)="editConfig(element.id)">edit</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="deleteColumn" style="width: 100px">
      <th mat-header-cell
          *matHeaderCellDef
          class="icon-column"> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-label="Удалить настройку"
                  title="Удалить настройку"
                  class="clickable-item"
                  (click)="deleteConfig(element.id, element.code)">clear</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-fab
          color="primary"
          class="journal-form-add-button"
          title="Добавить настройку"
          (click)="addConfig()">
    <mat-icon aria-label="Добавить настройку">add</mat-icon>
  </button>
</div>
